body {
  font-family: "Poppins", sans-serif;
  background: #272044;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
}
.img-responsive {
  width: 100%;
}

.fa-brands {
  font-size: 30px;
  padding: 10px;
}
.grid {
  display: grid;
  grid-gap: 65px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.embed {
  width: 100%;
  aspect-ratio: 1 /1;
}

.card {
  background: white;
  margin: 30px 0;
}
.card-header.grid {
  grid-gap: 0;
}
.card-body {
  padding: 30px;
}
.card-footer {
  padding: 0 30px 30px;
}
.fa-brands {
  font-size: 30px;
  padding: 10px;
  color: #462cb3;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #462cb3;
  text-decoration: none;
}
.row {
  margin: 25px 0;
}
.hollywood {
  max-width: 380px;
  margin-left: 150px;
  margin-top: 20px;
}
.hollywood-content {
  margin-right: 60px;
  margin-top: 130px;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background: #f8f8f8;
}
.text-centre {
  text-align: center;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url("../images/bermuda.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 260px 0;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 20px 0px;
}
header h2 {
  font-weight: 300;
  font-size: 30px;
  line-height: 1.5;
  margin: 20px 0px;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0px;
}
header a {
  font-weight: 700;
  font-size: 14px;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}
main {
  background-color: white;
}
main h2 {
  font-weight: 700px;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.4;
  text-transform: uppercase;
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
  color: #272044;
}
main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #272044;
  margin: 0;
}
main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color: #272044;
  margin: 0;
}
main p {
  font-size: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}
footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.5),
      rgba(39, 32, 69, 0.9)
    ),
    url("../images/bermuda-beach.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
footer h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 15px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 12px;
  }
  section {
    padding: 30px;
  }
  .embed {
    aspect-ratio: 16 / 9;
  }
  .row {
    margin: 0;
  }
  .embed-videos {
    max-width: 100%;
    aspect-ratio: 16/9;
    width: 670px;
    height: 150px;
  }
  .hollywood {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    padding: 0;
  }
  .hollywood-content {
    margin-top: 30px;
  }
}
